<html ng-app="restCountriesApp">
    <head>
        <title>Countries Single Page App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

    <div ng-controller="CountryList as ctry">
        Loading Status {{ctry.status}}
        <div ng-if="ctry.error" class="alert alert-danger" role="alert">{{ctry.error}}</div>
        <table class="table table-bordered table-hover table-striped">
            <thead><tr>
                <td>S.No</td>
                <td>Name</td>
                <td>Capital</td>
                <td>Population</td>
            </tr></thead>
            <tbody>
                <tr ng-repeat="c in ctry.countries">
                    <td>{{$index + 1}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.capital}}</td>
                    <td>{{c.population}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="./app.js"></script>
    </body>
</html>